[package]
name = "revue-macros"
version = "2.37.3"
edition = "2021"
rust-version = "1.87"

[lib]
proc-macro = true

[dependencies]
syn = { version = "2", features = ["full"] }
quote = "1"
proc-macro2 = "1"
