name: Test (Reusable)

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      target:
        required: true
        type: string
      name:
        required: true
        type: string

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings

jobs:
  test:
    name: Test (${{ inputs.name }})
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ inputs.target }}
      - uses: Swatinem/rust-cache@v2
      - run: cargo test --all-features
