name: Test macOS

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test-intel:
    uses: ./.github/workflows/_test-reusable.yml
    with:
      os: macos-latest
      target: x86_64-apple-darwin
      name: macOS Intel

  test-arm:
    uses: ./.github/workflows/_test-reusable.yml
    with:
      os: macos-14
      target: aarch64-apple-darwin
      name: macOS ARM
