name: Test Linux

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    uses: ./.github/workflows/_test-reusable.yml
    with:
      os: ubuntu-latest
      target: x86_64-unknown-linux-gnu
      name: Linux
